.note-todo {
    margin: 0;
    padding: 0;
    list-style: none;

   


}


.--crossed-todo {
    text-decoration: line-through;
    color: var(--clr-gray-200);
}

.todo-line {
    display: flex;
    align-items: start;
    gap: 6px;

}