.note-preview {
    min-height: 100px;
    background-color: var(--clr-white);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    border: 0.5px solid var(--clr-gray-300);
    box-shadow: 0 2px 8px rgba(133, 129, 129, 0.15);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    padding: 0.5em;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". . . . . pin"
        "main main main main main main"
        ". . . . . . "
        "pickColor duplicate . . . delete ";



}

.note-preview:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }


.note-preview:hover>button {
    /* display: block;         */
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s ease-out, transform .5s ease-out;
}


.note-preview>button {
    /* display: none; */
    justify-self: end;
    align-self: end;
    width: 30px;
    height: 30px;

    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-out, transform .5s ease-out;

}

.note-txt,
.note-img,
.note-todos {
    grid-area: main;
}

.pin-note-btn {
    grid-area: pin;

}

.delete-note-btn {
    grid-area: delete;


}

.color-note-btn{
    grid-area: pickColor;
}


.pinned {
    opacity: 1 !important;
}

.pinnedpin-note-btn .un-pin {
    display: none;
}

.pinnedpin-note-btn:hover .un-pin {
    display: inline-block;
}

.duplicate-note-btn {
    grid-area: duplicate;
}