/* .note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  list-style: none;
  margin: 0;
  padding: 0;

} */

.note-list{
  padding-top: 2em;
  align-self: start;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 0.4em;
  justify-content: center;
}

.note-list li {
  background: #f2f2f2;
  border-radius:var(--border-radius-md);
  border: 1px solid var(--clr-gray-300);
  padding: 1rem;
}

