.note-add {
    justify-self: center;
    background-color: var(--clr-white);
    border-radius:1px solid var(--border-radius-lg);
    border-radius:1px solid 1em;

    border: 1px solid var(--clr-gray-300);
    border:0px;
    width: 600px;

    position: relative;

}

.note-add-container{
    /* border-radius:1px solid var(--border-radius-lg); */
    border-radius:1px solid 1em;
    border: 1px solid var(--clr-gray-300);
    cursor: text;
    display: flex;
    align-items: center;         /* מיישר אנכית */
    justify-content: space-between;

}

.note-add-check-btn{
    font-size: 1.5em;
   
}

.note-add-btns{
        justify-self: end;

}

/* <form onSubmit={ev => {
  ev.preventDefault();
  const form = ev.target;
  const newText = form.postContent.value;
  // …save newText manually…
}}>
  <textarea name="postContent" placeholder="Take a note…" />
  <button type="submit">Save post</button>
</form> */

