.note-index{
    background-color: aquamarine;

    display: flex;
    flex-wrap: wrap;
}

/* 
.note-index{
grid-template-columns: minmax(80px,1fr) minmax(0px,1200px)  minmax(80px,1fr);
grid-template-areas: 
". header ."
". main .";
}

.note-list {
    grid-area: main;
} */