/* רקע כהה מאחורי המודאל */
.modal-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80vw;
  height: 80vh;
  /* background-color: rgba(60, 64, 67, 0.144);  */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;


  input[type="checkbox"] {
    all: revert;
    width: 1.2em;
    height: 1.2em;
    accent-color: var(--clr-primary);
    /* צבע מותאם, אם יש לך משתנה */
    cursor: pointer;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

  input,
  textarea {
    all: unset;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }

}

/* חלון העריכה עצמו */
.modal-window {
  background-color: white;
  border-radius: 8px;
  padding: 16px 20px;
  height: 900px;
  width: 600px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.819);
  overflow-y: auto;
}


/* שדה כותרת */
.modal-title {
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 12px;
}

/* שדה הטקסט */
.modal-text {
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  flex-grow: 1;
  min-height: 100px;
  margin-bottom: 12px;
}
.add-title {
 font-size: 1.5em;
}

/* כפתורים בתחתית המודאל */
.modal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* כל הכפתורים במודאל */
.modal-actions .icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.modal-actions .icon-btn:hover {
  background-color: #f1f3f4;
}