.text-btn {
    background-color: transparent;
    border: none;
    color: rgb(6, 71, 15);
    font-size: 1.2rem;
    font-weight: 600;
    padding-block: 4px;
    padding-inline: 16px;
    border-radius: 8px;
}

.text-btn:hover {
    background-color: rgba(6, 71, 15, 0.2);

}

.text-btn.back-icon::before {
    content: "<";
    padding-inline-end: 8px;
}