/* checkbox */
.mail-checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    border: 2px solid var(--clr-gray-400);
    cursor: pointer;
}

.mail-checkbox:focus {
    background-color: transparent;
}

/* draw the checkmark when checked */
.mail-checkbox:checked::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 3.5px;

    width: 5px;
    height: 10px;
    border: solid var(--clr-gray-400);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}