.main-header {
    padding-inline-end: var(--px-spacing-lg);
    padding-inline-start: 12px;

}

.main-header-content-wraper {
    gap: var(--px-spacing-lg);
}

.main-header-content-wraper .main-nav ul {
    gap: var(--px-spacing-mdl);
}

.main-header-content-wraper .main-nav ul li a {
    padding-inline: 16px;
    padding-block: 8px;

    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;

    transition: 0.3s;
}

.main-header-content-wraper .main-nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-header-content-wraper .side-nav-btn {
    padding-top: 4px;
    height: 50px ;
    width: 50px ;
}