.mail-search-bar {
    padding-inline: var(--px-spacing-mdl);
    padding-block: var(--px-spacing-sm);


    background-color: var(--clr-white);
    border-top-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
}

.mail-search-bar .mail-search{
    width: 100%;
}