.main-layout {
    grid-template-rows: 80px 1fr;
    row-gap: 24px;
    min-height: 100vh;
}


.main-inline-padding {
    padding-inline: 0;
}

.main-header {
    grid-row: 1;
}

.main-content {
    grid-row: 2;
}